.login {
    width: 600px;
    height: 370px;
    padding: 20px 50px;
}

.login h1 {
    margin-bottom: 40px;
}

.login input {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    outline: none;
}

.login button {
    height: 40px;
    background-color: #4e4fc2;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
}