.feed {
    width: 600px;
    height: 600px;
}

.feed__header {
    width: 100%;
    height: 50px;
    background-color: #4e4fc2;
    box-shadow: 0px 3px 3px #ccc;
    display: flex;
}

.feed__header .feed__header-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.feed__header .feed__header-item a {
    width: 100%;
    height: 100%;
}

.feed__header .feed__header-item.--home {
    background-image: url(/home.png);
    background-size: 25px;
}


.feed__header .feed__header-item.--rules {
    background-image: url(/rules.png);
    background-size: 25px;
}

.feed__header .feed__header-item.--chat {
    background-image: url(/chat.png);
    background-size: 25px;
}

.feed__header .feed__header-item.--profile {
    background-image: url(/profile.png);
    background-size: 25px;
}

.feed__header .feed__header-item.--group {
    background-image: url(/group.png);
    background-size: 25px;
}

.feed__header .feed__header-item.--rank {
    background-image: url(/rank.png);
    background-size: 25px;
}

.feed__header .feed__header-item.--play {
    background-image: url(/play.png);
    background-size: 25px;
    opacity: .5;
    cursor: default;
}

.feed__header .feed__header-item.--play a {
    cursor: default;
}

.feed__header .feed__header-item.--play.--active {
    background-image: url(/play_green.png);
    opacity: 1;
}

.feed__header .feed__header-item.--play.--active a {
    cursor: pointer;
}

.feed__topost {
    width: 100%;
    margin-top: 10px;
}

.feed__topost textarea {
    width: 100%;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: none;
}

.feed__topost .feed_topost-footer {
    width: 100%;
    height: 35px;
    background-color: #fafafa;
    margin-top: -4px;
}

.feed__topost .feed_topost-footer button {
    height: 100%;
    padding: 0 40px;
    background-color: #4e4fc2;
    color: #fff;
    float: right;
    border: 0;
    outline: none;
    cursor: pointer;
}


.feed__posts {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 30px;
    box-sizing: border-box;
}


.feed__posts .feed__post {
    width: 1005;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px
}

.feed__posts .feed__post .feed__post-top {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.feed__posts .feed__post .feed__post-top .feed__post-top-photo {
    width: 35px;
    height: 35px;
    background-color: #444;
    border-radius: 50%;
    margin: 8px;
    background-position: center;
    background-size: cover;
}

.feed__posts .feed__post .feed__post-top .feed__post-top-name label {
    display: block;
    margin: 9px 0px;
    font-weight: bold;
}

.feed__posts .feed__post .feed__post-text {
    padding: 20px;
    text-align: left;
}



.feed__posts .feed__post .feed__post-footer {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.feed__posts .feed__post .feed__post-footer-like {
    width: 60px;
    height: 40px;
}

.feed__posts .feed__post .feed__post-footer-like button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    background-image: url(/like.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.feed__posts .feed__post .feed__post-footer-like.--liked button {
    background-image: url(/liked.png);
}

.feed__posts .feed__post .feed__post-footer-liked-list {
    flex: 1;
    display: flex;
}

.feed__posts .feed__post .feed__post-footer-liked-item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #444;
    margin: 9px 5px;
}