.chat {
    width: 600px;
    height: 600px;
    background-color: #ffffffee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 8px 6px 19px #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat .chat__top {
    flex: 1;
    height: 50px;
    max-height: 50px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px #ccc;
    margin-bottom: 10px;
    display: flex;
}

.chat .chat__top .chat__back {
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

.chat .chat__top .chat__back i {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(/arrow.png);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .8;
}

.chat .chat__top .chat__name {
    flex: 1;
}

.chat .chat__top .chat__name label {
    display: block;
    padding: 17px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

.chat .chat__top .chat__caracteres {
    width: 130px;
    align-self: flex-end;
}

.chat .chat__top .chat__caracteres label {
    display: block;
    padding: 19px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: #888;
    text-align: left;

}

.chat .chat__message {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat .chat__message .chat__message-msg {
    width: 100%;
    margin-top: 5px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row-reverse;
}

.chat .chat__message .chat__message-msg.--you {
    flex-direction: row;
}

.chat .chat__message .chat__message-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
}

.chat .chat__message .chat__message-msg .chat__message-talk {
    background-color: #4e4fc2;
    margin: 0 10px;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    text-align: left;
    max-width: calc(100% - 80px);
}

.chat .chat__message .chat__message-msg.--you .chat__message-talk {
    background-color: #d63c4b;
}

.chat .chat__message .chat__message-talk label {
    color: #fff;
    text-align: left;
    display: block;
}

.chat .chat__textarea {
    flex: 1;
    height: 50px;
    max-height: 50px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}

.chat .chat__textarea textarea {
    width: 99%;
    height: 100%;
    border: 0;
    outline: 0;
    resize: none;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0px -2px 6px 0px #ccc;
}